DATABASE_URL=postgresql://postgres:tcI0URajSwILuYTq@db.coqpsfvydltujdmwldfi.supabase.co:5432/postgres
SUPABASE_JWT_SECRET=ypduA/0Zvo5GmVLiLRY2GgC3qAHX+N13q/hwT0rKMO9XnpOvnDWQfITHk6cSQLU+Tp70b1+Wc0APxv+F9jqFoQ==
SUPABASE_URL=https://coqpsfvydltujdmwldfi.supabase.co
GOTENBERG_URL=http://localhost:3000
RESEND_API_KEY=re_your_resend_api_key_here
